@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-neutral: oklch(1 0 89.876);
	--color-neutral-foreground: var(--color-primary);
	--color-primary: oklch(0.379 0 89.876);
	--color-primary-foreground: var(--color-neutral);
	--color-secondary: oklch(0.497 0.003 286.285);
	--color-secondary-foreground: var(--color-neutral);
	--color-accent: oklch(0.8186 0.0411 89.71);
	--color-accent-foreground: var(--color-neutral);
	--color-info: oklch(0.854 0.052 199.289);
	--color-success: oklch(0.774 0.124 131.912);
	--color-warning: oklch(0.734 0.158 66.71);
	--color-error: oklch(0.646 0.206 17.761);
	--color-background: var(--color-primary);
	--color-foreground: var(--color-neutral);
	--color-destructive: var(--color-error);
	--color-border: var(--color-accent);
	--color-input: var(--color-neutral);
	--color-ring: var(--color-secondary);

	--animate-fade-in: fade-in 1s ease-in-out;
	--animate-gyrate: gyrate 1.5s ease-in-out;

	--angle-neutral-accent: linear-gradient(176deg, var(--color-neutral) 70%, var(--color-accent) calc(70% + 2px));
	--angle-primary-accent: linear-gradient(2deg, var(--color-primary) 70%, var(--color-accent) calc(70% + 2px));
	--angle-primary-neutral: linear-gradient(177deg, var(--color-primary) 70%, var(--color-neutral) calc(70% + 2px));

	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes gyrate {
		0% {
			transform: rotate(0deg);
		}

		30% {
			transform: rotateX(90deg) rotateY(-180deg);
		}

		50% {
			transform: rotateX(180deg) rotateY(-270deg);
		}

		70% {
			transform: rotateX(270deg) rotateY(-360deg);
		}

		100% {
			transform: rotateX(360deg) rotateY(-360deg);
		}
	}
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}

	h1, h2, h3, h4, h5, h6 {
		@apply font-bold text-primary text-shadow-xs;
	}

	h1 {
		@apply text-4xl mb-10;
	}

	h2 {
		@apply text-3xl;
	}

	h3 {
		@apply text-2xl;
	}

	h4 {
		@apply text-xl;
	}

	h5 {
		@apply text-lg;
	}

	input,
	textarea {
		@apply focus-within:outline-secondary;
	}

	.angle-neutral-accent {
		background-image: var(--angle-neutral-accent);
	}

	.angle-primary-accent {
		background-image: var(--angle-primary-accent);
	}

	.angle-primary-neutral {
		background-image: var(--angle-primary-neutral);
	}

	.grid,
	.flex {
		@apply gap-6;
	}

}

:root {
	--radius: 0.625rem;
	--background: var(--color-neutral);
	--foreground: var(--color-primary);
	--primary: var(--color-neutral);
	--primary-foreground: var(--color-primary);
	--secondary: var(--color-secondary);
	--secondary-foreground: var(--color-neutral);
	--accent: var(--color-accent);
	--accent-foreground: var(--color-neutral);
	--destructive: oklch(0.577 0.245 27.325);
	--border: var(--color-accent);
	--input: var(--color-neutral);
	--ring: var(--color-secondary);
}

.dark {
	--radius: 0.625rem;
	--background: var(--color-primary);
	--foreground: var(--color-neutral);
	--primary: var(--color-primary);
	--primary-foreground: var(--color-neutral);
	--secondary: var(--color-secondary);
	--secondary-foreground: var(--color-neutral);
	--accent: var(--color-accent);
	--accent-foreground: var(--color-neutral);
	--destructive: oklch(0.577 0.245 27.325);
	--border: var(--color-accent);
	--input: var(--color-neutral);
	--ring: var(--color-secondary);
}
