@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	30% {
		transform: rotateX(90deg) rotateY(-180deg);
	}

	50% {
		transform: rotateX(180deg) rotateY(-270deg);
	}

	70% {
		transform: rotateX(270deg) rotateY(-360deg);
	}

	100% {
		transform: rotateX(360deg) rotateY(-360deg);
	}
}


header .logo-svg {
	animation-name: rotate;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
	@apply text-primary;
}
